@import url('https://fonts.googleapis.com/css?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Proza Libre', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

div#wrapper{
    height: 100vh;
}

div#divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 100vh;
}

nav {
    width: 6vw;
    min-width: 64px;
    background-color: #333;
    transition: ease 1s;
    font-size: 0.8vw;
}

nav:hover {
    width: 10vw;
    background-color: #444;
}


/* nav input[type=checkbox] {
    display: none;
}

nav label {
    background-image: url("images/bars-solid.svg");
    filter: invert();
    width: 32px;
    height: 32px;
    display: block;
    margin: 8px auto;
}

nav input[type=checkbox]:checked ~ ul#nav_links {
    display: block;
    opacity: 1;
} */

div#nav_links {
    display: flex;
    flex-direction: column;
}

div#nav_links div {
    width: 100%;
    background-color: #222;
    padding: 10px 0px;
    margin-bottom: 15%;
    box-shadow: 1px 1px 10px #111;
    overflow: hidden;
    transition: ease 0.3s;
}

div#nav_links div:hover {
    background-color: #333;
    text-shadow: 1px 1px 7px #111;
}

div#nav_links div a {
    padding: 100%;
    padding-left: 5%;
    transition: ease 0.3s;
}

div#nav_links div a.selected {
    font-weight: bold;
    background-color: red;
}

#logo {
    padding-top: 10%;
    padding-bottom: 50%;    
    margin: 5%;
}

#logo img {
    width: 100%;
    text-align: center;
}


/* https://source.unsplash.com/1600x900/?meal,healthy */

main {
    background-image: url("images/chickpea_plates.jfif");
    background-size: cover;
    width: 100%;
    height: 100vh;

    position: relative;
}

div#main_content {
    width: 85%;
    height: 85%;
    background-color: #333;
    opacity: 0.9;
    margin: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #menu, #booking, #info {
      display:none;
  }