/* Fonts import */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Prata');

/* General */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Prata', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Base container */

div#wrapper{
    height: 100vh;
}

div#divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #999; 
}

::-webkit-scrollbar-thumb {
background: #444; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* Navigation */

nav {
    width: 6vw;
    min-width: 64px;
    background-color: #333;
    transition: ease 1s;
    font-size: max(1em, 12px);
    position: relative;
}

nav:hover {
    width: 10vw;
    background-color: #444;
}


/* nav input[type=checkbox] {
    display: none;
}

nav label {
    background-image: url("images/bars-solid.svg");
    filter: invert();
    width: 32px;
    height: 32px;
    display: block;
    margin: 8px auto;
}

nav input[type=checkbox]:checked ~ ul#nav_links {
    display: block;
    opacity: 1;
} */

div#nav_links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div#nav_links div {
    width: 100%;
    background-color: #222;
    padding: 10px 0px;
    margin-bottom: 15%;
    box-shadow: 1px 1px 10px #111;
    overflow: hidden;
    transition: ease 0.3s;
}

div#nav_links div:hover {
    background-color: #333;
    text-shadow: 1px 1px 7px #111;
    cursor: pointer;
}

div#nav_links div a {
    padding: 100%;
    padding-left: 5%;
    transition: ease 0.3s;
}

div#nav_links div a.selected {
    font-weight: bold;
    background-color: #bb3939;
}

#logo {
    padding-top: 10%;
    padding-bottom: 50%;    
    margin: 5%;
}

#logo img {
    width: 100%;
    text-align: center;
}


/* Main content box */

/* https://source.unsplash.com/1600x900/?meal,healthy */

main {
    background-image: url("images/chickpea_plates.jfif");
    background-size: cover;
    width: 100%;
    height: 100vh;

    position: relative;
}

div#main_content {
    width: 85%;
    height: 90%;
    /* #333 in rgba */
    background-color: rgba(51,51,51, 0.9);
    margin: auto;
}

div#main_content > div {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

#menu, #booking, #info {
    display:none;
}

/* Index */

div#index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 100px; */
}

div#index img {
    width: 100%;
}



/* Menu */

div#menu div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 40px 20px;
    background: #222;
}

div#menu div img {
    width: 40%;
    padding: 0px 5px;
    border-radius: 50%;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #68b3ae;
}

div#menu div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

div#menu div div div {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    justify-content: left;
}

div#menu div div div img {
    box-shadow: none;
    width: 40px;
    border-radius: 0;
    padding-right: 10px;
}