/* Fonts import */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Prata');

/* General */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Prata', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.button{
    background-color: #bb3939;
    padding: 15px;
    margin: 15px;
    border: #68b3ae 2px solid;
    border-radius: 10px;
    transition: ease 0.1s;
}

a.button:hover  {
    box-shadow: 0 0 10px rgba(255,255,255,.6), inset 0 0 20px #bb3939;

}

/* Base container */

div#wrapper{
    height: 100vh;
}

div#divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 100vh;
}

/* Scrollbar */

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: #999; 
}

::-webkit-scrollbar-thumb {
background: #444; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* Navigation */

nav {
    width: 6vw;
    min-width: 64px;
    background-color: #333;
    transition: ease 1s;
    font-size: max(1em, 12px);
    position: relative;
}

nav:hover {
    width: 10vw;
    background-color: #444;
}


/* nav input[type=checkbox] {
    display: none;
}

nav label {
    background-image: url("images/bars-solid.svg");
    filter: invert();
    width: 32px;
    height: 32px;
    display: block;
    margin: 8px auto;
}

nav input[type=checkbox]:checked ~ ul#nav_links {
    display: block;
    opacity: 1;
} */

div#nav_links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div#nav_links div {
    width: 100%;
    background-color: #222;
    padding: 10px 0px;
    margin-bottom: 15%;
    box-shadow: 1px 1px 10px #111;
    overflow: hidden;
    transition: ease 0.3s;
}

div#nav_links div:hover {
    background-color: #333;
    text-shadow: 1px 1px 7px #111;
    cursor: pointer;
}

div#nav_links div a {
    padding: 100%;
    padding-left: 5%;
    transition: ease 0.3s;
}

div#nav_links div a.selected {
    font-weight: bold;
    background-color: #bb3939;
}

#logo {
    padding-top: 10%;
    padding-bottom: 50%;    
    margin: 5%;
}

#logo img {
    width: 100%;
    text-align: center;
}


/* Main content box */

/* https://source.unsplash.com/1600x900/?meal,healthy */

main {
    background-image: url("images/chickpea_plates.jfif");
    background-color: #68b3ae;
    background-size: cover;
    width: 100%;
    height: 100vh;

    position: relative;
}

div#main_content {
    width: 98%;
    height: 100%;
    /* #333 in rgba */
    background-color: rgba(51,51,51, 0.9);
    margin: auto;
}

div#main_content > div {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

#menu, #booking, #info {
    display:none;
}

/* Index */

div#index-content {
    display: block;
    padding: 10px;
}

div#index-content h1 {
    text-align: center;
    font-size: 40px;
    padding: 5px;
    margin: 40px 0;
    background-color: #bb3939;
    border-radius: 10px;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #bb3939;
}

div#index-content-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
}

div#index-content-images img#bar_img {
    width: 60%;
    height: 100%;
    border-radius: 10px;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #68b3ae;
    
}

div#index-content-images div {
    width: 15%;
    height: 15%;
    margin: 20px 0;
    text-align: center;
}

div#index-content-images img#logo_img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    border-radius: 50%;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #68b3ae;
}

/* Menu */

div#menu-content {
    display: block;
    padding: 10px;
}

div#menu div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px;
    padding: 40px 20px;
    background: #333;
}


div#menu h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    padding: 5px;
    background-color: #bb3939;
    border-radius: 10px;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #bb3939;
}

div#menu h2 {
    font-size: 30px;
    padding: 5px 10px;
    background-color: #68b3ae;
    border-radius: 10px;
	box-shadow: 0 0 5px rgba(255,255,255,.6), inset 0 0 20px #68b3ae;
}

div#menu div div img {
    width: 40%;
    height: 100%;
    padding: 0px 5px;
    border-radius: 50%;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #68b3ae;
}

div#menu div div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

div#menu div div div div{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    justify-content: left;
}

div#menu div div div div img {
    box-shadow: none;
    width: 40px;
    border-radius: 0;
    padding-right: 10px;
}

 /* BOOKING  */

 div#booking-content {
    display: block;
    padding: 10px;
    text-align: center;
}

 div#booking h1 {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    padding: 5px;
    background-color: #bb3939;
    border-radius: 10px;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #bb3939;
}


div#booking div#booking-form {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    grid-gap: 10px;
}

div#booking div#booking-form label {
    justify-self: start;
}

div#booking div#booking-form input, select, option {
    color: black;
    justify-self: end;
    min-width: 100px;
    max-width: 150px;
}





div#booking-select {
    margin: auto;
    margin-top: 30px;
    max-width: 70%;
    display: grid;
    grid-template-columns: 5% 30% 5% 30% 30%;
    /* grid-gap: 1em; */
    grid-auto-rows: minmax(50px, auto);

    /* border: #bb3939 solid 10px;
    border-radius: 5px; */

    border-radius: 10px;
    box-shadow: 0 0 0 10px #bb3939, 0 0 25px rgba(255,255,255,.8);
    
	/* box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #bb3939; */
    
    padding: 10px;
}

div.box {
    background-color: #333;
    border: #68b3ae solid 1px; 
    margin: 10px;
    padding: 5px;
}

div#booking-select .frame {
    height: 100%;
    white-space: nowrap;
    text-align: center;
    transition: ease 0.3s;
}

div.frame:hover {
    cursor: pointer;
    background-color: #444;
}

div.selected-frame {
    background-color: #39bb39;
}

div.taken-frame {
    background-color: #bb3939;
}

div.taken-frame:hover {
    background-color: #bb3939;
    cursor: default;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.box .frame img {
    vertical-align: middle;
}

div.box img {
    width: 20%;
}

div.box-street {
    grid-column: 1;
    grid-row: 1/7;
    writing-mode: vertical-lr;
    text-orientation: upright;
    justify-self: center;
}

div.box-wall {
    grid-column: 3;
    grid-row: 1/7;
    writing-mode: vertical-lr;
    text-orientation: upright;
    justify-self: center;
}

div.box1 {
    grid-column: 2;
    grid-row: 3/5;
}

div.box2 {
    grid-column: 2;
    grid-row: 5/7;
}

div.box3 {
    grid-column: 4;
    grid-row: 1/3;
}

div.box4 {
    grid-column: 4;
    grid-row: 3/5;
}

div.box5 {
    grid-column: 4;
    grid-row: 5/7;
}

div.box6 {
    grid-column: 5;
    grid-row: 3/5;
}

div.box7 {
    grid-column: 5;
    grid-row: 5/7;
}

div.box8 {
    grid-column: 5;
    grid-row: 1/3;
    writing-mode: vertical-lr;
    text-orientation: upright;
    justify-self: left;
}


div#booking div#booking-submit {
    width: 30%;
    margin: auto;
    margin-top: 40px;
    background-color: #333;
    padding: 40px 20px;
}

/* INFO */

div#info-content {
    display: block;
    padding: 10px;
    text-align: center;
}

div#info-content table {
    text-align: left;
}

div#info-content h1 {
    font-size: 40px;
    margin: 40px 0;
    padding: 5px;
    background-color: #bb3939;
    border-radius: 10px;
	box-shadow: 0 0 25px rgba(255,255,255,.6), inset 0 0 20px #bb3939;
}

div#info-content div#hours table {
    margin: auto;
    border-spacing: 50px 5px;

}

div#info-content p {
    margin-bottom: 30px;
}

div#map {
    margin: auto;
    width: 65%;
    height: 500px;
    border: #68b3ae 3px solid;
    border-radius: 5px;
}